<swiper-container
  pagination="true"
  navigation="true"
  autoplay-delay="2500"
  autoplay-disable-on-interaction="false"
  loop="true"
  slides-per-view="1">
  <swiper-slide><img src="/store/pexels-ellusionist-19015217.jpg" /></swiper-slide>
  <swiper-slide><img src="/store/pexels-furkanfdemir-6309863.jpg"/></swiper-slide>
  <swiper-slide><img src="/store/pexels-hson-27854758.jpg"/></swiper-slide>
  <swiper-slide><img src="/store/pexels-pixabay-256431.jpg"/></swiper-slide>
  
</swiper-container>
